status:
<code id="status" class="{{{ textClass }}}">
	{{{ status }}}
</code><br>
<code id="location" class="{{{ textClass }}}">
	{{{ location }}}
</code><br>
<a href="{{{buttonLink}}}" class="btn {{{ buttonClass }}} mt-4" role="button">{{{buttonText}}}</a>
<script>
	function getLocation() {
		if (document.querySelector('#status').innerHTML.trim().startsWith("2")) {
			console.log("update!")
			localStorage.setItem("{{{ localStorage }}}", document.querySelector('#location').innerHTML.trim());
		}
	}
	window.onload = getLocation;
</script>